<template name="add_house">
    <div style="width: 400px; margin: 0 10px">
        <form id="house-add">
            <input type="text" class="house-title" placeholder="Title">
            <div class="input-field col s12">
                <select id="country-select">
                    <option value="" disabled selected>Choose country</option>
                    {{#each countries}}
                    <option value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <input type="text" class="house-city" placeholder="City">
            <input type="text" class="house-street" placeholder="Street">
            <input type="text" class="house-number" placeholder="Number">
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input id="imgUpload" type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Photo">
                </div>
            </div>
            <div class="input-field col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <select id="check-in-select">
                            <option value="" disabled selected>Check-in</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                        </select>
                    </div>
                    <div class="input-field col s6">
                        <select id="check-out-select">
                            <option value="" disabled selected>Check-out</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                        </select>
                    </div>
                </div>
            </div>
            <p>Internet</p>
            <p>
                <input class="internet-check" name="internet-check" type="radio" id="internet1" value="Yes" />
                <label for="internet1">Yes</label>
            </p>
            <p>
                <input class="internet-check" name="internet-check" type="radio" id="internet2" value="" />
                <label for="internet2">No</label>
            </p>
            <button class="btn waves-effect waves-light" type="submit" name="action">Add House
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</template>