<template name="HouseInfo">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card hoverable">
                    <div class="card-image">
                        <img class="activator" src="{{img}}">
                        <span class="card-title">{{title}}</span>
                    </div>
                    <div class="card-content">
                        <table class="striped">
                            <tbody>
                            <tr>
                                <td>Country:</td>
                                <td>{{country}}</td>
                            </tr>
                            <tr>
                                <td>City:</td>
                                <td>{{city}}</td>
                            </tr>
                            <tr>
                                <td>Street:</td>
                                <td>{{street}}</td>
                            </tr>
                            <tr>
                                <td>Number:</td>
                                <td>{{number}}</td>
                            </tr>
                            <tr>
                                <td>Check-in:</td>
                                <td>{{checkIn}}</td>
                            </tr>
                            <tr>
                                <td>Check-out:</td>
                                <td>{{checkOut}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <p>{{#if wifi}}
                            <i class="material-icons tooltipped" data-position="top" data-delay="50"
                               data-tooltip="Wi-Fi">wifi</i>
                            {{else}}
                            <i class="material-icons tooltipped" data-position="top" data-delay="50"
                               data-tooltip="No Internet connection">signal_wifi_off</i>
                            {{/if}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>