<template name="houses">
    <div>Houses</div>
    {{#each house}}
    <div class="row">
    <div class="card small col s3">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://unsplash.it/400/200?random">
            <!--<img class="activator" src="{{img}}">-->
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{title}}<i class="material-icons right">more_vert</i></span>

        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{title}}<i class="material-icons right">close</i></span>
            <p>City: {{city}}</p>
            <p>Country: {{country}}</p>
            <p>Street: {{street}}</p>
            <p>Number: {{number}}</p>
            <p>Check-in: {{checkIn}}</p>
            <p>Check-out: {{checkOut}}</p>
            <p>{{#if wifi}}
                <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Wi-Fi">wifi</i>
                {{else}}
                <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="No Internet connection">signal_wifi_off</i>
                {{/if}}
            </p>
        </div>
        <div class="card-action">
            <a href="http://localhost:3000/houses/eqcFn5ybAfwiRyQmF">This is a link</a>
        </div>
    </div>
        </div>
    {{/each}}
</template>