<template name="login_page">
    <div class="row">
        <div class="col l4 m6 s8 offset-l4 offset-m3 offset-s2">
            <div class="card">
                <div class="card-content">
                    {{#if currentUser}}
                        <h2>You're logged in.</h2>
                        {{> logout}}
                    {{else}}
                        <span class="card-title">Login</span>
                        <div class="row">
                            <div class="col s12">
                                <ul class="tabs">
                                    <li class="tab col s3"><a href="#login">Log in</a></li>
                                    <li class="tab col s3"><a class="active" href="#register">Register</a></li>
                                </ul>
                            </div>
                            {{> login}}
                            {{> register}}
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <a href="/">back</a>
</template>

<template name="register">
    <form id="register" class="col s12">
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" type="text" class="validate">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
            <div class="input-field col s12">
                <input id="confirm-password" type="password" class="validate">
                <label for="confirm-password">Confirm Password</label>
            </div>
        </div>
        <div class="card-action">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</template>
<template name="login">
    <form id="login" class="col s12">
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <input required id="email-l" type="email" class="validate">
                    <label for="email-l">Email</label>
                </div>
            </div>
            <div class="input-field col s12">
                <input required id="password-l" type="password" class="validate">
                <label for="password-l">Password</label>
            </div>
        </div>
        <div class="card-action">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</template>
<template name="logout">
    <i id="logout" class="waves-effect material-icons">power_settings_new</i>
</template>