<template name="Header">
    <header>
        <nav>
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="{{pathFor route='UserProfile'}}">{{_ 'Profile'}}</a></li>
                <li class="divider"></li>
                <li>{{> Logout}}</li>
            </ul>
            <div class="nav-wrapper teal">
                <a href="/" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>{{> SearchField}}</li>

                    {{> LangSwitcher}}
                    <li><a href="#">Item2</a></li>
                    {{#if currentUser}}
                        <li><a id="myElem" class="dropdown-button" href="#" data-activates="dropdown1">{{userMail}}<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    {{else}}
                        <li><a href="{{pathFor route='LoginPage'}}">{{_ 'Log In'}}</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </header>
</template>

<template name="SearchField">
    <nav>
        <div class="nav-wrapper blue-grey">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
</template>

<template name="LangSwitcher">
    <li>
        <div class="input-field col s12 m6">
            <select class="icons">
                <option value="" disabled selected data-icon="{{_ 'flag'}}">{{_ 'name'}}</option>
            {{#each lang in langList}}
                <option value="" data-icon="{{_ 'flag'}}" class="circle">{{lang}}</option>

                <!--<option value="" data-icon="{{_ 'flag'}}" class="circle">example 1</option>-->
                <!--<option value="" data-icon="{{_ 'flag'}}" class="circle">example 2</option>-->
                <!--<option value="" data-icon="{{_ 'flag'}}" class="circle">example 1</option>-->
            {{/each}}
            </select>
            <!--<label>Images in select</label>-->
        </div>
    </li>
</template>